<div class="wrapper">
    <div class="title">
        <h2>Log in</h2>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="login()" >
        <div class="form-field">
            <label for="title">Email:</label>
            <input autocomplete="off" class="input" type="text" name="email" id="email" formControlName="email"/>
        </div>
        <div class="form-field">
            <label for="title">Password:</label>
            <input class="input" type="password" name="password" id="password" formControlName="password"/>
        </div>
        <button><div class="btn highlight submit">Log in</div></button>
    </form>

    <div class="register">
        <p>Don't have an account?</p>
        <a routerLink="/register"><div class="btn highlight">Register</div></a> 
    </div>    
</div>
