<div class="wrapper">
    <div class="title">
        <h2>Add a Quest</h2>
    </div>
    <div class="form-field">
        <label for="title">Title:</label>
        <input class="input" type="text" name="title" id="title" [(ngModel)]="quest.title"/>
    </div>
    <div class="form-field">
        <label for="description">Description:</label>
        <textarea class="textarea" name="description" id="description" [(ngModel)]="quest.description"></textarea>
    </div>
    <div class="form-field">
        <label for="is-optional">Optional:</label>
        <div class="checkbox" (click)="quest.isOptional = !quest.isOptional">
            <div class="check-mark" *ngIf="quest.isOptional"></div>
        </div>
        <input class="hidden" type="checkbox" name="is-optional" id="is-optional" [(ngModel)]="quest.isOptional"/>
    </div>
    <div class="form-field">
        <label for="deadline">Should be done in (hours):</label>
        <input class="input" type="number" name="deadline" id="deadline" [(ngModel)]="nrHours"/>
    </div>
    <p *ngIf="invalidDeadline()">The number of hours should be between 0 and 24.</p>
    <button [disabled]="invalidDeadline()" (click)="addQuest()"><div class="btn highlight submit" [ngClass]="{'btn-disabled': invalidDeadline()}" >Done</div></button>
</div>

